<%- include('../../partials/header/head.ejs') %>
<div class="container  py-4">
    <a href="/auth/login" class="btn btn-danger m-1">Super Admin</a>
    <a href="/auth/login/administration" class="btn btn-primary m-1">Administration Portal</a>
    <a href="/auth/login/teacher" class="btn btn-success m-1">Teacher Portal</a>
    <a href="/auth/login/student" class="btn btn-dark m-1">Student Portal</a>
</div>

<%- include('../../partials/authFooter.ejs') %>

</body>

</html>