<%- include('../../partials/header/head.ejs') %>
<div class="container d-flex flex-column justify-content-center align-items-center border rounded px-4 py-5 my-3">
    <div class="mb-3">
        <h3>Login to your account !</h3>
        <hr>
    </div>
    <div class="">
        <a href="/auth/login" class="btn btn-danger m-1">Super Admin</a>
        <a href="/auth/login/moderator" class="btn btn-info m-1">Moderator</a>
        <a href="/auth/login/administration" class="btn btn-primary m-1">Administration Portal</a>
        <a href="/auth/login/teacher" class="btn btn-success m-1">Teacher Portal</a>
        <a href="/auth/login/student" class="btn btn-dark m-1">Student Portal</a>
    </div>
</div>


<%- include('../../partials/authFooter.ejs') %>
</body>

</html>