<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.0.1/mdb.min.js"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script>
    var swiper = new Swiper(".mySwiper", {
        slidesPerView: 2,
        spaceBetween: 10,
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
        breakpoints: {
            // When the screen width is less than 480px, display 2 slides per view
            400: {
                slidesPerView: 2,
            },
            // When the screen width is between 480px and 768px, display 3 slides per view
            768: {
                slidesPerView: 4,
            },
            // When the screen width is between 768px and 1024px, display 4 slides per view
            1024: {
                slidesPerView: 8,
            },
        },

    });
</script>
</body>

</html>