<%- include('./partials/header/head') %>
    <div class="container py-4">
      <div class="d-flex">
        <div class="border rounded p-4 m-2 text-light w-100" style="background: rgb(72, 172, 102);">
          Generate Question in 30 Seconds
        </div>
        <div class="border rounded p-4 m-2 text-light w-100" style="background: #ff0000;">
          Custom Generated Question
        </div>
      </div>
      <div class="d-flex">
        <div class="border rounded p-4 m-2 text-light w-100" style="background: darkblue;">
          Online Exam
        </div>
        <div class="border rounded p-4 m-2 text-light w-100" style="background: blueviolet;">
          10000+ Prebuilt Question
        </div>
      </div>
      <div class="d-flex">
        <div class="border rounded p-4 m-2 text-light w-100" style="background: salmon;">
          1 click print question
        </div>
        <div class="border rounded p-4 m-2 text-light w-100" style="background: darkslategrey;">
          PDF
        </div>
      </div>
    </div> 
    
    <section class="container my-5">
      <%- include('./pages/utils/contactus') %>
    </section>
<%- include('./partials/homeFooter') %>