
<!-- SIDEBAR -->
<div class="sidebar" style="color: white;" id="sidebar_container">
    <h4 class="text-center mt-3 mb-0">School</h2>
    <hr>
    <div class="sidebar-user">
        <div class="sidebar-user-info">
            <img src="/images/teacher.png" alt="User picture" class="profile-image">
            <div class="sidebar-user-name"style="text-transform:lowercase">
                <%= user.username %> 
            </div>
        </div>
        <button class="btn_user btn_user-outline" id="sidebar-close" style="border: 1px solid white;">
            <i class='bx bx-chevron-left text-white'></i>
        </button>
    </div>
    <!-- SIDEBAR MENU -->
    <ul class="sidebar-menu">
        <li>
            <a href="/combined-question">
                <i class='bx bxs-book-open'></i>
                <span>Combined Question</span>
            </a>
        </li>
        <li>
            <a href="/random-questions">
                <i class='bx bxs-book-add' ></i>
                <span>Random Question</span>
            </a>
        </li>
        <li>
            <a href="/combined-question/saved">
                <i class='bx bxs-save' ></i>
                <span>Saved Question</span>
            </a>
        </li>
        <li>
            <a href="/auth/change-password">
                <i class='bx bxs-lock-alt' ></i>
                change password
            </a>
        </li> 
        <li>
            <a href="/auth/logout">
                <i class="fas fa-minus-circle"></i>
                <span>Logout</span>
            </a>
        </li>
    </ul>
    <!-- END SIDEBAR MENU -->
</div>
<!-- END SIDEBAR -->


<!-- MAIN CONTENT -->
<div class="main">
    <div class="main-header">
        <div class="mobile-toggle" id="mobile-toggle">
            <i class='bx bx-menu-alt-right'></i>
        </div>
        <div class="main-title">
            <p class="mb-0"><%= user.userType %> Dashboard</p>
        </div>
    </div>
    <%- include('../utils/alert.ejs') %> 