<div id="contactus">
    <div class="containers">
      <span class="big-circle"></span>
      <img src="img/shape.png" class="square" alt="" />
      <div class="form">
        <div class="contact-info">
          <h3 class="title">Let's get in touch</h3>
          <p class="text">
            Landscape Alliance  Limited is a high end real estate and construction company in Bangladesh. We see things holistically, backed by years of experience.
          </p>

          <div class="info">
            <div class="information">
              <img src="img/location.png" class="icon" alt="" />
              <p class="location"> 75/ 2 Ridgedale Complex, Uttar Badda, Suit 6-B, </p>
            </div>
            <div class="information">
              <img src="img/email.png" class="icon" alt="" />
              <p class="mail">landscapeallienceltdbd@gmail.com</p>
            </div>
            <div class="information">
              <img src="img/phone.png" class="icon" alt="" />
              <p class="phone">01712000384,01712602241,01713031072 <br>
                01712602242
                 01847231772,01742936950</p>
            </div>
          </div>

          <div class="social-media">
            <p>Connect with us :</p>
            <div class="social-icons">
              <a href="https://www.facebook.com/landscapebd">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="#">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="#">
                <i class="fab fa-instagram"></i>
              </a>
              <a href="#">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="contact-form">
          <span class="circle one"></span>
          <span class="circle two"></span>

          <form action="/contact" method="post" autocomplete="off">
            <h3 class="title">Contact us</h3>
            <div class="input-container">
              <input type="text" name="name" class="input" id="name"  required maxlength="30"/>
              <label for="">Full Name *</label>
              <span>Username</span>
            </div>
            <div class="input-container">
              <input type="email" name="email" id="email"  class="input" />
              <label for="">Email</label>
              <span>Email</span>
            </div>
            <div class="input-container">
              <input type="tel" name="phone" class="input"  id="phone"  required maxlength="15"/>
              <label for="">Phone *</label>
              <span>Phone</span>
            </div>
            <div class="input-container textarea">
              <textarea name="message" class="input"  id="message" required maxlength="500"></textarea>
              <label for="">Message *</label>
              <span>Message</span>
            </div>
            <input type="submit" value="Send" class="btnn" />
          </form>
        </div>
      </div>
    </div>
  </div>

  <script>
    const inputs = document.querySelectorAll(".input");
    function focusFunc() {
      let parent = this.parentNode;
      parent.classList.add("focus");
    }
    function blurFunc() {
      let parent = this.parentNode;
      if (this.value == "") {
        parent.classList.remove("focus");
      }
    }
    inputs.forEach((input) => {
      input.addEventListener("focus", focusFunc);
      input.addEventListener("blur", blurFunc);
    });
  </script>