<%- include('../../partials/header/head.ejs') %>
<div class="container d-flex justify-content-center align-items-center">
    <div class="shadow-sm bg-light p-5 my-5 text-center w-100"  style="min-height: 40vh;">
        <i class="fas fa-check-circle display-2 my-3 text-success"></i>
        <h2>Thank you, <span class="fw-bold"><%= name %> </span>!</h2>
        <p>Your response has been recorded ! <br>In very shortly we will contact you.</p>
    </div>
</div>
<%- include("../../partials/footer") %>