<%- include('../partials/header/head.ejs')  %>
            <section>
             <%- include('./utils/contactus')  %>
              </section>

    <%- include('../partials/homeFooter.ejs')  %>
</body>
</html>