<%- include('../partials/header/head.ejs')  %>
            <section class="vh-100" style="background-color: #eee;">
                <div class="container h-100">
                  <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-lg-12 col-xl-11">
                      <div class="card text-black" style="border-radius: 25px;">
                        <div class="card-body p-md-5">
                          <div class="row justify-content-center">
                            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
              
                              <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>
              
                              <form action="/contact" method="post"  class="mx-1 mx-md-4">
              
                                <div class="d-flex flex-row align-items-center mb-4">
                                  <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                  <div class="form-outline flex-fill mb-0">
                                    <input type="text" id="form3Example1c" name="name" class="form-control" required/>
                                    <label class="form-label" for="form3Example1c">Your Name *</label>
                                  </div>
                                </div>
              
                                <div class="d-flex flex-row align-items-center mb-4">
                                  <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                  <div class="form-outline flex-fill mb-0">
                                    <input type="email"  name="email" id="form3Example3c" class="form-control" />
                                    <label class="form-label" for="form3Example3c">Your Email</label>
                                  </div>
                                </div>
              
                                <div class="d-flex flex-row align-items-center mb-4">
                                  <i class="fas fa-phone fa-lg me-3 fa-fw"></i>
                                  <div class="form-outline flex-fill mb-0">
                                    <input type="text" name="phone" id="form3Example4c" class="form-control" required/>
                                    <label class="form-label" for="form3Example4c">Phone *</label>
                                  </div>
                                </div>
              
                                <div class="d-flex flex-row align-items-center mb-4">
                                  <i class="fas fa-pencil fa-lg me-3 fa-fw"></i>
                                  <div class="form-outline flex-fill mb-0">
                                    <textarea name="message" type="text" id="form3Example4cd" class="form-control" required maxlength="500" rows="5"></textarea>
                                    <label class="form-label" for="form3Example4cd">Your Message *</label>
                                  </div>
                                </div>
              
                                <div class="mb-5">
                                  
                                </div>
              
                                <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                  <button type="submit" class="btn btn-primary btn-lg">Send</button>
                                </div>
              
                              </form>
              
                            </div>
                            <div class="col-md-10 col-lg-6 col-xl-7 d-flex flex-column order-1 order-lg-2">
                                <div class="mt-4">
                                  Daripaka Bazar (Debraj Road), Barachowna (1984), Sakhipur, Tangail,Dhaka.
                                    <br>
                                    <a href="tel:+8809678-114436">+8809678-114436</a>
                                </div>
                                <div style="width: 100%; margin-top: 50px;">
                                  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14534.228318417636!2d90.2130155!3d24.3967069!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xde5ae89e07c93c22!2sDari%20Paka%20Bazar!5e0!3m2!1sen!2sbd!4v1668372238541!5m2!1sen!2sbd" width="600" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                                 </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>

    <%- include('../partials/footer.ejs')  %>
</body>
</html>