@font-face {
    font-family: bangla;
    src: url(../fonts/SolaimanLipiNormal.woff2);
}

@font-face {
    font-family: ban;
    src: url(../fonts/SolaimanLipiNormal.woff2);
}

body {
    font-family: ban;
}