<%- include('./partials/header.ejs') %>
    <div class="container py-4" style="min-height: 100vh;">
        <h5 class="my-2 text-primary">Student</h5>
    </div>
<%- include('./partials/footer.ejs') %>