<%- include('../../partials/header/head.ejs') %>

    <div class="container-fluid">
        <div class="container py-5">
           <div class="d-flex flex-column justify-content-center align-items-center">
                <h2>Studnet profile</h2>
           </div>
        </div>
    </div>
    <%- include('../../partials/footer.ejs') %>
</body>
</html>