<%- include('../partials/header/head.ejs') %>

    <div class="container p-5">
        <div class="card py-4">
            <div class="text-center ">
                <i class="fas fa-triangle-exclamation text-danger" style="font-size: 50px;"></i>
            </div>
            <h2 class="text-center text-danger my-2">Expired</h2>
            <p class="text-center">You need to update your package or contact us to extend your validity</p>
            <center><a href="/contact" class="btn btn-sm btn-success my-2">Contuct us</a></center>
        </div>
    </div>

<%- include('../partials/authFooter.ejs') %>
</body>
</html>